<%
	// I am using the same terminal/non-terminal names from the Nearley context free grammar
	// so check the grammar for indicies of terminal nodes
	// (e.g. headword label of first item is wrlDictionary[0][0][1].value)
	// or use a JSON tree visualizer to interactively explore
	// the [heavily nested] parse result: https://vanya.jp.net/vtree/ or http://jsonviewer.stack.hu/

	// Select the first parse of each result. #TODO: Write a less ambiguous grammar
	// that returns only 1 parse tree
	wrlDictionary = wrlDictionary.map(parse_results => parse_results[0])
%>

<!DOCTYPE html>
<html>
<head>

	<title>Warlpiri Mini Dictionary</title>

	<link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">

	<style type="text/css">
		body { font-family: 'Crimson Text', serif; font-size: 20px; font-smooth: always; }
		ul { list-style: none; }
		/*ol.senses > li:not(:last-child) { border:1px solid red; }*/
	</style>

</head>
<body>

	<a href="dictionary.pdf">PDF version</a>

	<div id="entriesDisplay" style="width: 600px">

		<% wrlDictionary.forEach((wrlItem, index) => { %>

			<%- include("mainEntry.ejs", { entryData : wrlItem[0], index: index }) %>

			<% if(wrlItem[1].length > 0) { %>
				<%- include("subEntry.ejs", { subEntryData : wrlItem[1] }) %>
			<% } %>

		<% }) %>

	</div>

<script>// document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

</body>
</html>