<% crossReferences.map(crossReferenceGroup => { %>
	
	<% var crossReferenceLabels = {
		"cf"  : "See also",
		"csl" : "Sign Language: ",
		"ant" : "Opposite meaning as",
		"syn" : "Same meaning as"
	} %>

	<% if(crossReferenceGroup.length != 0) { %>
			<% var groupType = crossReferenceGroup[0][0].value %>

			<span style="font-variant: small-caps"><%= crossReferenceLabels[groupType] %></span>

			<% var groupList = crossReferenceGroup.map(([startCode, valuesLine, endCode]) => valuesLine.value.split(", ").map(x => "<a href=\"#" + x + "\">" + x + "</a>") ) %>
			
			<%- groupList.join(", ") %>

		<br />
	<% } %>
<% }) %>
