<% exampleGroups.map(function([egCode, preComment, examplePairs, postComment, eegCode]) { %>
	<ul class="exampleGroup">
		<% examplePairs.map(function([weCode, wrlText, sourceInfo, englishTranslation, eweCode]) { %>

			<li>
				<%= wrlText.value %><br />
				<em><%= englishTranslation[1].value %></em>
			</li>

		<% }) %>
	</ul>
<% }) %>
