<div class="mainEntry" id="<%= entryData[1].value.split(/ \(/, 1)[0] %>">

	<h1><%= entryData[1].value %></h1>

	<div style="padding-left: 15px">
		<% if(entryData[6] != null) { %>
			<p>
				<em>
					<%- include('englishGlossGroup.ejs', { englishGlossGroups : entryData[6] }) %>
				</em>
					<%- include('definitionGroups.ejs', { definitionGroup: entryData[4] } ) %>
			</p>
		<% } %>

		<% if(entryData[9] != null) { %>
			<%- include('exampleGroups.ejs', { exampleGroups: entryData[9] }) %>
		<% } %>

		<% if(entryData[8] != null) { %>
			<%- include('pdxGroups.ejs', { pdxGroups: entryData[8] }) %>
		<% } %>		

		<% if(entryData[10] != null) { %>
			<%- include('crossReferences', { crossReferences: entryData[10] }) %>
		<% } %>
	</div>

</div>
