<% pdxGroups.map(function([pdxCode, pdxLabel, preCrossReferences, alternates, semanticDomain, definitionGroup, englishGlossGroup, exampleGroup, postCrossReferences, comments, preverbLists, epdxCode]) {%>

	<div>
		<strong><%= pdxLabel.value %></strong><% if(englishGlossGroup != null) { %>:
			<em>
				<%- include('englishGlossGroup.ejs', { englishGlossGroups : [englishGlossGroup] }) %>
			</em>
		<% } %>

		<% if(exampleGroup != null) { %>
			<%- include('exampleGroups.ejs', { exampleGroups: exampleGroup }) %>
		<% } %>
	</div>
	
<% }) %>