<% subEntryData.map(([sseCode, subEntryLabel, alternates, semanticDomain, definitionGroup, latinGroup, englishGlossGroup, exampleGroup, crossReferences, comment, sensesOfSubEntry, endSseCode]) => { %>
	<div class="subEntry">

		<h1><%= subEntryLabel.value %></h1>

		<div style="padding-left: 15px">

			<% if(sensesOfSubEntry.length > 0) { %>

				<ol class="senses">
				<li>

			<% } %>

				<% if(englishGlossGroup != null) { %>
					<p style="font-style: italic">
					<%-
						include('englishGlossGroup.ejs', { englishGlossGroups : englishGlossGroup })
					%>
					</p>
				<% } %>

				<% if(exampleGroup != null) { %>
					<%- include('exampleGroups.ejs', { exampleGroups: exampleGroup }) %>
				<% } %>

				<% if(crossReferences != null) { %>
					<%- include('crossReferences', { crossReferences: crossReferences }) %>
				<% } %>

			<% if(sensesOfSubEntry.length > 0) { %>

				<% sensesOfSubEntry.map((aSenseOfSubEntry) => { %>

					<li>
					
					<p style="font-style: italic">
						<% if(aSenseOfSubEntry[6] != null) { %>
							<%- include('englishGlossGroup.ejs', { englishGlossGroups : aSenseOfSubEntry[6] }) %>
						<% } %>
					</p>

				<% }) %>

				</ol>

			<% } %>

		</div>

	</div>
<% }) %>
