<%
	// I am using the same terminal/non-terminal names from the Nearley context free grammar
	// so check the grammar for indicies of terminal nodes
	// (e.g. headword label of first item is wrlDictionary[0][0][1].value)
	// or use a JSON tree visualizer to interactively explore
	// the [heavily nested] parse result: https://vanya.jp.net/vtree/ or http://jsonviewer.stack.hu/

	// Select the first parse of each result. #TODO: Write a less ambiguous grammar
	// that returns only 1 parse tree
	wrlDictionary = wrlDictionary.map(parse_results => parse_results[0])
%>

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% Dictionary
% LaTeX Template
% Version 1.1 (6/8/17)
%
% This template was downloaded from:
% http://www.LaTeXTemplates.com
%
% Original author:
% Vel (vel@latextemplates.com) inspired by a template by Marc Lavaud
%
% License:
% CC BY-NC-SA 3.0 (http://creativecommons.org/licenses/by-nc-sa/3.0/)
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

%----------------------------------------------------------------------------------------
%	PACKAGES AND OTHER DOCUMENT CONFIGURATIONS
%----------------------------------------------------------------------------------------

\documentclass[10pt,a4paper,twoside]{article} % 10pt font size, A4 paper and two-sided margins

\usepackage[top=3.5cm,bottom=3.5cm,left=3.7cm,right=4.7cm,columnsep=30pt]{geometry} % Document margins and spacings

\usepackage[utf8]{inputenc} % Required for inputting international characters
\usepackage[T1]{fontenc} % Output font encoding for international characters

\usepackage{palatino} % Use the Palatino font

\usepackage{microtype} % Improves spacing

\usepackage{multicol} % Required for splitting text into multiple columns

\usepackage[bf,sf,center]{titlesec} % Required for modifying section titles - bold, sans-serif, centered

\usepackage{fancyhdr} % Required for modifying headers and footers
\fancyhead[L]{\textsf{\rightmark}} % Top left header
\fancyhead[R]{\textsf{\leftmark}} % Top right header
\renewcommand{\headrulewidth}{1.4pt} % Rule under the header
\fancyfoot[C]{\textbf{\textsf{\thepage}}} % Bottom center footer
\renewcommand{\footrulewidth}{1.4pt} % Rule under the footer
\pagestyle{fancy} % Use the custom headers and footers throughout the document

\newcommand{\entry}[4]{\textbf{#1} $\bullet$\ {#2}} % Defines the command to print each word on the page, \markboth{}{} prints the first word on the page in the top left header and the last word in the top right

%----------------------------------------------------------------------------------------

\begin{document}

\begin{multicols}{2}

<% wrlDictionary.forEach((wrlItem, index) => { %>

	\entry{<%= wrlItem[0][1].value %>}{<%= wrlItem[0][6].map(([oldEnglishGloss, glCode, glossValue, comment, endGlCode]) => glossValue.value.replace(/\^/g, '') ).join(', ') %>}

<% }) %>			

\end{multicols}

%------------------------------------------------
\end{document}